body {
    background-color: #d2d2d2;
  }
  header {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    a {
        color: rgb(6, 194, 163);
    }

  }




  footer{
    color: rgb(0, 0, 0);
  }

  p {
    color: rgb(76, 130, 247);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }