body {
    background-color: #d2d2d2;
  }
  header {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;

  }



  footer{
    color: rgb(0, 0, 0);
  }

  p {
    color: rgb(76, 130, 247);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }

  @page {
    size: A4;
    margin: 0;
  }